@charset "UTF-8";

body {
	color: #eed;
}
.bg-darkgreen {
	background-color: #284044!important;
}
.bg-darkblue {
	background-color: #263337!important;
}
.border-darkblue {
	border-color: #263337!important;
}

/* Font Color */
.red {
	color: #cd4526;
}
.yellow {
	color: #ffce33;
}
.artifact {
	color: #aa66fc;
}
.rare {
	color: #70c5db;
}
.item-skill {
	color: #9fd900;
}
.button-close-white {
	color: #fff;
	text-shadow: 0 1px 0 #263337;
}

/* Image */
img.item-detail {
	width: 64px;
	height: 64px;
}
img.item-icon {
	width: 32px;
	height: 32px;
}
