@charset "UTF-8";

html {
	-webkit-overflow-scrolling: touch;
}

body {
	color: #eed;
	font-family: arial, sans-serif;
}

h1 {
	color: antiquewhite;
	font-size: 2.0rem;
	font-family: serif;
}

h3 {
	font-size: 1.0rem;
}

.card-title a {
	color: rgba(255,255,255,.5);
	text-decoration: none;
}

.card-title a:focus,.card-title a:hover {
	color: rgba(255,255,255,.75);
}

a.link-home {
	color: antiquewhite;
	font-family: serif;
	text-decoration: none;
}

.bg-darkgreen {
	background-color: #284044!important;
}
.bg-darkblue {
	background-color: #263337!important;
}
.border-darkblue {
	border-color: #263337!important;
}

.w-7-5 {
	width: 7.5%!important;
}
.w-8 {
	width: 8%!important;
}
.w-14 {
	width: 14%!important;
}
.w-15 {
	width: 15%!important;
}
.w-30 {
	width: 30%!important;
}
.w-45 {
	width: 45%!important;
}
.border-black {
	border-color: #000!important;
}

/* Font Color */
.red {
	color: #cd4526;
}
.yellow {
	color: #ffce33;
}
.artifact {
	color: #aa66fc!important;
}
.rare {
	color: #70c5db!important;
}
.common {
	color: #fff!important;
}
.item-skill {
	color: #9fd900;
}
.item-comment {
	color: #bf8f00;
}
.button-close-white {
	color: #fff;
	text-shadow: 0 1px 0 #263337;
}

/* Image */
img.item-detail {
	width: 64px;
	height: 64px;
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:pixelated;
}
img.item-icon {
	width: 32px;
	height: 32px;
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:pixelated;
}

/* Simulator */
.table-item-attrs div.d-table-cell {
	padding: 0 2px;
	height: 16px;
}
